.homePage {
  height: 100vh;
  background-color: #e4e5ff;
  justify-content: space-around;
  align-items: center;
}
.weatherCard1 {
  margin: auto;
  width: 50%;
  height: 70%;
  box-shadow: 0 9px 8px black;
  text-align: center;
  margin-top: 50px;
}
.weatherCard2 {
  display: flex;
  overflow-x: scroll;
  margin: auto;
  width: 70%;
  height: 70%;
  background: linear-gradient(#ffe4f2, #fffee4, #e4fff1);
  box-shadow: 0 9px 8px black;
  text-align: center;
  margin-top: 50px;
}
.imageContainer {
  position: relative;
  display: flex;
  height: 100px;
  width: 100px;
  margin: auto;
}
.temperature {
  font-family: "Open Sans", sans-serif;
  font-size: 200%;
  font-weight: bolder;
  position: absolute;
  bottom: 0;
  right: 0;
}
.feelsLike {
  font-family: "Open Sans", sans-serif;
  font-size: 80%;
  font-weight: bolder;
}
.hourly {
  font-weight: bold;
  flex: 1 1 auto;
  width: 100%;
  font-size: 120%;
}
.hourlyForecast {
  flex: 1 1 auto;
}
